:root {
    --color-1: #21d4fd;
    --color-2: #b721ff;
    --color-3: #08aeea;
    --color-4: #2af598;
  }
.about{
    margin-top: 250px;
    width: 100%;
    background: var(--color-3);   
     padding: 60px;
    color: aliceblue;
}
.about p{
    font-size: 18px;
    line-height: 2rem;
}
.about h2{
    font-size: 36px;
}
img{
    height: 100%;
    width: 100%;
}
@media(max-width:768px){
    .about{
        margin-top: 600px;
        text-align: center;
    }
        
    }
    